<% include partials/header %>

<h1>HomePage</h1>

<img src= "https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg">

<% include partials/footer %>
